.page_container {
    background: linear-gradient(to bottom, #a90329 0%,#8f0222 42%,#230009 100%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    overflow: hidden;
    width: 100%;
    height: 120px;
    border-bottom: 3px solid grey; 
}

.nav_container a {
  position: relative;
  color: white;
  text-decoration: none;
}

.nav_container a:hover {
  color: white;
}

.nav_container a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
}

.nav_container a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
}

.site_name {
    font-family: 'SaniTrixieSansRegular'; 
    font-weight: normal; 
    font-style: normal;
    font-size: 48px;
    margin-left: 40px;
    color: white;
}

.login {
    font-family: 'SaniTrixieSansRegular'; 
    font-weight: normal; 
    font-style: normal;
    font-size: 48px;
    margin-right: 40px;
    color: white;
}

.search_results_container {
    width: 85%;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.search_results_header {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
}

.search_results_header section {
    width: 25%;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
}

.tab_content {
    display: flex;
}

.tab_content section {
    width: 25%;
    border-bottom: 1px solid black;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
}
